In [1]:
medical_data = \
"""Marina Allison   ,27   ,   31.1 , 
#7010.0   ;Markus Valdez   ,   30, 
22.4,   #4050.0 ;Connie Ballard ,43 
,   25.3 , #12060.0 ;Darnell Weber   
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1 
,#3022.0   ;   Vinay Padilla,24,   
26.9 ,#4620.0 ;Meredith Santiago, 51   , 
29.3 ,#16330.0;   Andre Mccarty, 
19,22.7 , #2900.0 ; 
Lorena Hodson ,65, 33.1 , #19370.0; 
Isaac Vu ,34, 24.8,   #7045.0"""

In [2]:
print(medical_data)

Marina Allison   ,27   ,   31.1 ,
#7010.0   ;Markus Valdez   ,   30,
22.4,   #4050.0 ;Connie Ballard ,43
,   25.3 , #12060.0 ;Darnell Weber
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1
,#3022.0   ;   Vinay Padilla,24,
26.9 ,#4620.0 ;Meredith Santiago, 51   ,
29.3 ,#16330.0;   Andre Mccarty,
19,22.7 , #2900.0 ;
Lorena Hodson ,65, 33.1 , #19370.0;
Isaac Vu ,34, 24.8,   #7045.0

In [3]:
updated_medical_data = medical_data.replace('#','$')

In [4]:
print(updated_medical_data)

Marina Allison   ,27   ,   31.1 ,
$7010.0   ;Markus Valdez   ,   30,
22.4,   $4050.0 ;Connie Ballard ,43
,   25.3 , $12060.0 ;Darnell Weber
,   35   , 20.6   , $7500.0;
Sylvie Charles   ,22, 22.1
,$3022.0   ;   Vinay Padilla,24,
26.9 ,$4620.0 ;Meredith Santiago, 51   ,
29.3 ,$16330.0;   Andre Mccarty,
19,22.7 , $2900.0 ;
Lorena Hodson ,65, 33.1 , $19370.0;
Isaac Vu ,34, 24.8,   $7045.0

In [10]:
num_records = 0

In [11]:
for character in updated_medical_data:
    if character == '$':
        num_records += 1

In [12]:
print(num_records)

10

In [13]:
print(f'There are {num_records} medical records in the data.')

There are 10 medical records in the data.

In [14]:
medical_data_split = updated_medical_data.split(';')

In [15]:
print(medical_data_split)

['Marina Allison   ,27   ,   31.1 , \n$7010.0   ', 'Markus Valdez   ,   30, \n22.4,   $4050.0 ', 'Connie Ballard ,43 \n,   25.3 , $12060.0 ', 'Darnell Weber   \n,   35   , 20.6   , $7500.0', '\nSylvie Charles   ,22, 22.1 \n,$3022.0   ', '   Vinay Padilla,24,   \n26.9 ,$4620.0 ', 'Meredith Santiago, 51   , \n29.3 ,$16330.0', '   Andre Mccarty, \n19,22.7 , $2900.0 ', ' \nLorena Hodson ,65, 33.1 , $19370.0', ' \nIsaac Vu ,34, 24.8,   $7045.0']

In [16]:
medical_records = []

In [20]:
for item in medical_data_split:
    medical_records.append(item.split(','))

In [21]:
print(medical_records)

[['Marina Allison   ', '27   ', '   31.1 ', ' \n$7010.0   '], ['Markus Valdez   ', '   30', ' \n22.4', '   $4050.0 '], ['Connie Ballard ', '43 \n', '   25.3 ', ' $12060.0 '], ['Darnell Weber   \n', '   35   ', ' 20.6   ', ' $7500.0'], ['\nSylvie Charles   ', '22', ' 22.1 \n', '$3022.0   '], ['   Vinay Padilla', '24', '   \n26.9 ', '$4620.0 '], ['Meredith Santiago', ' 51   ', ' \n29.3 ', '$16330.0'], ['   Andre Mccarty', ' \n19', '22.7 ', ' $2900.0 '], [' \nLorena Hodson ', '65', ' 33.1 ', ' $19370.0'], [' \nIsaac Vu ', '34', ' 24.8', '   $7045.0']]

In [22]:
medical_records_clean = []

In [25]:
for record in medical_records:
    record_clean = []
    for item in record:
        record_clean.append(item.strip())
    medical_records_clean.append(record_clean)

In [26]:
print(medical_records_clean)

[['Marina Allison', '27', '31.1', '$7010.0'], ['Markus Valdez', '30', '22.4', '$4050.0'], ['Connie Ballard', '43', '25.3', '$12060.0'], ['Darnell Weber', '35', '20.6', '$7500.0'], ['Sylvie Charles', '22', '22.1', '$3022.0'], ['Vinay Padilla', '24', '26.9', '$4620.0'], ['Meredith Santiago', '51', '29.3', '$16330.0'], ['Andre Mccarty', '19', '22.7', '$2900.0'], ['Lorena Hodson', '65', '33.1', '$19370.0'], ['Isaac Vu', '34', '24.8', '$7045.0']]

In [30]:
for record in medical_records_clean: 
    record[0] = record[0].upper()
    print(record[0])

MARINA ALLISON
MARKUS VALDEZ
CONNIE BALLARD
DARNELL WEBER
SYLVIE CHARLES
VINAY PADILLA
MEREDITH SANTIAGO
ANDRE MCCARTY
LORENA HODSON
ISAAC VU

In [31]:
names = []
ages = []
bmis = []
insurance_costs = []

In [32]:
for record in medical_records_clean:
    names.append(record[0])
    ages.append(record[1])
    bmis.append(record[2])
    insurance_costs.append(record[3])

In [35]:
print('Names: ' + str(names))
print("Ages: " + str(ages))
print('Bmis: ' + str(bmis))
print("Insurance costs: " + str(insurance_costs))

Names: ['MARINA ALLISON', 'MARKUS VALDEZ', 'CONNIE BALLARD', 'DARNELL WEBER', 'SYLVIE CHARLES', 'VINAY PADILLA', 'MEREDITH SANTIAGO', 'ANDRE MCCARTY', 'LORENA HODSON', 'ISAAC VU']
Ages: ['27', '30', '43', '35', '22', '24', '51', '19', '65', '34']
Bmis: ['31.1', '22.4', '25.3', '20.6', '22.1', '26.9', '29.3', '22.7', '33.1', '24.8']
Insurance costs: ['$7010.0', '$4050.0', '$12060.0', '$7500.0', '$3022.0', '$4620.0', '$16330.0', '$2900.0', '$19370.0', '$7045.0']

In [36]:
total_bmi = 0

In [37]:
for bmi in bmis:
    total_bmi += float(bmi)

In [40]:
average_bmi = round((total_bmi / len(bmis)), 2)

In [43]:
print("Average BMI: " + str(average_bmi))

Average BMI: 25.83

In [51]:
insurance_costs_clean = []
for item in insurance_costs:
    cost = item[1:]
    insurance_costs_clean.append(cost)

In [52]:
print(insurance_costs_clean)

['7010.0', '4050.0', '12060.0', '7500.0', '3022.0', '4620.0', '16330.0', '2900.0', '19370.0', '7045.0']

In [54]:
total_insurance_cost = 0
for item in insurance_costs_clean:
    total_insurance_cost += float(item)
total_insurance_cost / len(insurance_costs_clean)

8390.7

In [65]:
for i in range(0, len(names)-1):
    print(f'{names[i]} is {ages[i]} years old with a BMI of {bmis[i]} \
and an insurance cost of {insurance_costs[i]}.')

MARINA ALLISON is 27 years old with a BMI of 31.1 and an insurance cost of $7010.0.
MARKUS VALDEZ is 30 years old with a BMI of 22.4 and an insurance cost of $4050.0.
CONNIE BALLARD is 43 years old with a BMI of 25.3 and an insurance cost of $12060.0.
DARNELL WEBER is 35 years old with a BMI of 20.6 and an insurance cost of $7500.0.
SYLVIE CHARLES is 22 years old with a BMI of 22.1 and an insurance cost of $3022.0.
VINAY PADILLA is 24 years old with a BMI of 26.9 and an insurance cost of $4620.0.
MEREDITH SANTIAGO is 51 years old with a BMI of 29.3 and an insurance cost of $16330.0.
ANDRE MCCARTY is 19 years old with a BMI of 22.7 and an insurance cost of $2900.0.
LORENA HODSON is 65 years old with a BMI of 33.1 and an insurance cost of $19370.0.